In [1]:
### 1. Write a Python program to create a tuple and print its elements.
# Solution 1: Using print()
t1 = (1,'a', 2, 'abc', 30, True)
print(t1)

(1, 'a', 2, 'abc', 30, True)

In [3]:
### 2. How would you access the third element in a tuple?
t1 = (1,'a', 20, 'abc', 30, True)
# Third element is 20 and array start from 0
print(t1[2])

20

In [4]:
### 3. Write a program to find the length of a tuple.
# Solution 1: Using len()
t1 = (1,'a', 20, 'abc', 30, True)
length = len(t1)
print(length)

6

In [6]:
# Solution 2: Using Iteration
t1 = (1,'a', 20, 'abc', 30, True)
length = 0
for item in t1:
    length += 1
print(f"{length} is the length of tuple")

6 is the length of tuple

In [7]:
# Solution 3: Using Function
def length_tuple(t1):
    length = len(t1)
    return length

# Calling Function 
length_tuple((1,'a', 20, 'abc', 30, True))

6

In [9]:
### 4. How would you concatenate two tuples?
# Solution 1: using concatenate "+"
t1 = (1, 20, 30, 50, 100)
t2 = ('a', 'b', 'c', 'd', True)
merge = t1 + t2
print(merge)

(1, 20, 30, 50, 100, 'a', 'b', 'c', 'd', True)

In [14]:
# Solution 2: Using Iteration
t1 = (1, 20, 30, 50, 100)
t2 = ('a', 'b', 'c', 'd', True)
concatenated_tuple = ()
for item in t1:
    concatenated_tuple += (item,)

for item in t2:
    concatenated_tuple += (item,)

print(concatenated_tuple)

(1, 20, 30, 50, 100, 'a', 'b', 'c', 'd', True)

In [15]:
# Solution 3: Using function
def concatenated_tuple(t1, t2):
    concatenated_tuple = t1 + t2
    return concatenated_tuple

# Calling Function
concatenated_tuple((1, 20, 30, 50, 100), ('a', 'b', 'c', 'd', True))

(1, 20, 30, 50, 100, 'a', 'b', 'c', 'd', True)

In [18]:
### 5. Write a Python program to convert a list into a tuple.
# Solution 1: using tuple()
list1 = [1, 'abc', 50, 'yess', 'true', 900]
# list to tuple
tuple_t1 = tuple(list1)
print(tuple_t1)

(1, 'abc', 50, 'yess', 'true', 900)

In [20]:
# Solution 2: Using iteration
list1 = [1, 'abc', 50, 'yess', 'true', 900]
converted_tuple = ()
for item in list1:
    converted_tuple += (item, )

print("Converted Tuple:", converted_tuple)

Converted Tuple: (1, 'abc', 50, 'yess', 'true', 900)

In [21]:
# Solution 3: Using function
def list_to_tuple(list1):
    tuple_t1 = tuple(list1)
    return tuple_t1

# Calling Function
list_to_tuple([1, 'abc', 50, 'yess', 'true', 900])

(1, 'abc', 50, 'yess', 'true', 900)

In [22]:
### 6. Write a program to count the occurrences of an element in a tuple.
# Solution 1: Using count()
my_tuple = (1, 2, 3, 4, 2, 2, 5, 6, 2)
# Count occurrences of the element '2'
count = my_tuple.count(2)
# Print the count
print("Occurrences of '2' in the tuple:", count)

Occurrences of '2' in the tuple: 4

In [27]:
# Solution 2: Using Iteration
my_tuple = (1, 2, 3, 4, 2, 2, 5, 6, 2)
number = 2
count = 0

for item in my_tuple:
    if item == number:
        count += 1
print(f"Occurrences of {number} in the tuple:", count)

Occurrences of 2 in the tuple: 4

In [30]:
# Solution 3: Using Function
def count_occurence(my_tuple, number):
    count = my_tuple.count(number)
    return count

# Calling Function 
count_occurence((1, 2, 3, 4, 2, 2, 5, 6, 2), 2)

4

In [31]:
### 7. How would you unpack a tuple into separate variables?
# Solution 1: unpack tuple directl to the variable
my_tuple = (1, 2, 'hello', 4.5)

# Unpack the tuple into separate variables
a, b, c, d = my_tuple

# Print the unpacked variables
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)

a: 1
b: 2
c: hello
d: 4.5

In [32]:
# Solution 2: Using Iteration
my_tuple = (1, 2, 'hello', 4.5, 'more', 'elements')

# Dynamic unpacking using a loop
variables = []
for item in my_tuple:
    variables.append(item)

# Assign variables to unpacked tuple elements
a, b, c, d, e, f = variables

# Print the unpacked variables
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)
print("e:", e)
print("f:", f)

a: 1
b: 2
c: hello
d: 4.5
e: more
f: elements

In [33]:
# Solution 3: Using asterisk*
my_tuple = (1, 2, 'hello', 4.5, 'extra', 'elements')

# Unpack with asterisk for variable length
a, b, *rest = my_tuple

# Print the unpacked variables
print("a:", a)
print("b:", b)
print("rest:", rest)

a: 1
b: 2
rest: ['hello', 4.5, 'extra', 'elements']

In [34]:
# Solution 4: Using indexing
my_tuple = (1, 2, 'hello', 4.5)

# Unpack using indexing
a = my_tuple[0]
b = my_tuple[1]
c = my_tuple[2]
d = my_tuple[3]

# Print the unpacked variables
print("a:", a)
print("b:", b)
print("c:", c)
print("d:", d)

a: 1
b: 2
c: hello
d: 4.5

In [40]:
# Solution 5: Using Function
def unpack_tuple(my_tuple):
    if len(my_tuple) < 2:
        print("Tuple must have at least 2 elements to unpack.")

    # Unpack the tuple
    a, b, *rest = my_tuple

    # Return unpacked variables
    return a, b, rest

# Example usage:

a, b, rest = unpack_tuple((1, 2, 'hello', 4.5, 'extra', 'elements'))

# Print the unpacked variables
print("a:", a)
print("b:", b)
print("rest:", rest)

a: 1
b: 2
rest: ['hello', 4.5, 'extra', 'elements']

In [42]:
### 8. Write a Python program to find the index of a specific element in a tuple.
# Solution 1: Using index()
tuple1 = (1, 2, 'hello', 4.5, 'extra', 'elements')
# find index of 'hello'
index_element = tuple1.index('hello')
print(index_element)

2

In [45]:
# Solution 2: Using Itereation
tuple1 = (1, 2, 'hello', 4.5, 'extra', 'elements')
value = 4.5
for index, element in enumerate(tuple1):
    if value == element:
        print(f"{index} is index of {value}")

3 is index of 4.5

In [47]:
# Solution 3: Using Function
def index_element(tuple1, value):
    index_element = tuple1.index(value)
    return index_element

# Calling Function
index_element((1, 2, 'hello', 4.5, 'extra', 'elements'), 'extra')

4

In [48]:
### 9. Write a program to create a tuple with mixed data types.
# Solution 1:  Create a tuple with mixed data types
mixed_tuple = (25, "Hello", 3.14, True, [1, 2, 3], {'key': 'value'})
print("Tuple with mixed data types:", mixed_tuple)

Tuple with mixed data types: (25, 'Hello', 3.14, True, [1, 2, 3], {'key': 'value'})

In [51]:
# Solution 2: Using iteration
tuple1 = (25, "Hello", 3.14, True, [1, 2, 3], {'key': 'value'})
mixed_tuple = ()

for element in tuple1:
    mixed_tuple += (element, )

print(mixed_tuple)

(25, 'Hello', 3.14, True, [1, 2, 3], {'key': 'value'})

In [52]:
# Solution 3: Using Function
def mixed_tuple(tuple1):
    mixed_tuple = ()
    for element in tuple1:
        mixed_tuple += (element, )
    return mixed_tuple

# Calling Function
mixed_tuple((25, "Hello", 3.14, True, [1, 2, 3], {'key': 'value'}))

(25, 'Hello', 3.14, True, [1, 2, 3], {'key': 'value'})

In [58]:
### 10. How would you convert a tuple into a set?
# Solution 1: Using set()
tuple1 = (25, "Hello", 3.14, True )
set_tuple1 = set(tuple1)
print(set_tuple1)

{25, 3.14, 'Hello', True}

In [60]:
# Solution 2: Using Iteration
tuple1 = (25, "Hello", 3.14, True )
set_tuple = set()
for item in tuple1:
    set_tuple.add(item)
print(set_tuple)

{25, 3.14, 'Hello', True}

In [61]:
# Solution 3: Using Function
def tuple_to_set(tuple1):
    set_tuple1 = set(tuple1)
    return set_tuple1

# Calling Function
tuple_to_set((25, "Hello", 3.14, True ))

{25, 3.14, 'Hello', True}