In [7]:
### 1. Write a Python program to create a set and print its elements.
# Solution 1: Using set and print
elements = (1, 'a', 2, 'a2', 'abc')
unique_elements = set(elements)
print(unique_elements)

{1, 2, 'a', 'a2', 'abc'}

In [8]:
# Solution 2: Using Function
def set_print(elements):
    unique_elements = set(elements)
    return unique_elements

# Calling Function
set_print((1, 'a', 2, 'a2', 'abc'))

{1, 2, 'a', 'a2', 'abc'}

In [15]:
### 2. How would you check if an element exists in a set?
# Solution 1: Using Iteration
elementslist = (1, 'a', 2, 'a2', 'abc', False)
if 'abc' in elementslist:
    print('Yes, It is exists.')
else:
    print('No, It is not exists.')

Yes, It is exists.

In [18]:
# Solution 2: Using Function
def exist_element(elementslist, word):
    if word in elementslist:
        print('Yes, It is exists.')
    else:
        print('No, It is not exists.')

# Calling Function
exist_element((1, 'a', 2, 'a2', 'abc', False),  2)

Yes, It is exists.

In [19]:
### 3. Write a Python program to find the union of two sets.
# Solution 1: Using union()
Set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 = {"apple", "banana", "cherry"}
union_set = Set1.union(Set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'banana', 'cherry', 'apple'}

In [22]:
# Solution 2: Using Iteration
Set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 = {"apple", "banana", "cherry"}
union_set = set()
for i in Set1:
    union_set.add(i)

for i in Set2:
    union_set.add(i)

print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'banana', 'cherry', 'apple'}

In [23]:
# Function 3: Using Function
def union_set(Set1, Set2):
    union_set_element = Set1.union(Set2)
    return union_set_element

# Calling Function
union_set({1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, {"apple", "banana", "cherry"})

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'apple', 'banana', 'cherry'}

In [25]:
### 4. Write a program to find the intersection of two sets.
# Solution 1: Using intersection()
Set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 = {5, 6, 8, 9, 10, 11, 12, 13, 14, 15}
intersection_Set = Set1.intersection(Set2)
print(intersection_Set)

{5, 6, 8, 9, 10}

In [33]:
# Solution 2: Using &
Set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 = {5, 6, 8, 9, 10, 11, 12, 13, 14, 15}
intersection_Set = Set1 & Set2
print(intersection_Set)

{5, 6, 8, 9, 10}

In [34]:
# Solution 3: Using Iteration
Set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 = {5, 6, 8, 9, 10, 11, 12, 13, 14, 15}
intersection_set = set()

for element in Set1:
    if element in Set2:
        intersection_set.add(element)
        
print(intersection_set)

{5, 6, 8, 9, 10}

In [36]:
# Solution 4: Using Function
def intersection_set( Set1, Set2):
    intersection_Set = Set1.intersection(Set2)
    return intersection_Set

# Calling Function
intersection_set({1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, {5, 6, 8, 9, 10, 11, 12, 13, 14, 15})

{5, 6, 8, 9, 10}

In [43]:
### 5. How would you remove an element from a set without causing an error if the element is not present?
# Solution 1: Using remove()
thisset = {"google", "microsoft", "apple"}
remove_element = 'Oracle'

if remove_element in thisset:
    thisset.remove(remove_element)
else:
    print(f"{remove_element} not found in the set.")

print(thisset)

Oracle not found in the set.
{'apple', 'microsoft', 'google'}

In [44]:
# Solution 2: Using discard()
thisset = {"google", "microsoft", "apple"}
remove_element = 'Oracle'

if remove_element in thisset:
    thisset.discard(remove_element)
else:
    print(f"{remove_element} not found in the set.")

print(thisset)

Oracle not found in the set.
{'apple', 'microsoft', 'google'}

In [50]:
# Solution 3: Using Iteration
thisset = {"google", "microsoft", "apple"}
remove_element = 'Oracle'
new_set = set()
for i in thisset:
    if i != remove_element:
        new_set = i
        print(new_set)

apple
microsoft
google

In [59]:
# Solution 4: Using Function
def remove_element(thisset, item):
    if item in thisset:
        thisset.remove(item)
    else:
        print(f"{item} not present")  
    return thisset

# Calling Function
remove_element({"google", "microsoft", "apple"}, 'Oracle')

Oracle not present

{'apple', 'google', 'microsoft'}

In [61]:
### 6. Write a Python program to find the difference between two sets.
# Solution 1: 
Set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set2 = {5, 6, 8, 9, 10, 11, 12, 13, 14, 15}
new_set = Set1.symmetric_difference(Set2)
print(new_set)

{1, 2, 3, 4, 7, 11, 12, 13, 14, 15}

In [65]:
Set1 = {1, 2, 3, 4, 5, 10, 11, 12, 13, 14}
Set2 = {5, 6, 8, 9, 10, 11, 12, 13, 14, 15}
new_set = set()
for item in Set1:
    if item not in Set2:
        new_set.add(item)

for item in Set2:
    if item not in Set1:
        new_set.add(item)

print(new_set)

{1, 2, 3, 4, 6, 8, 9, 15}

In [67]:
# Solution3 : Using  Function
def difference_set(Set1, Set2):
    new_set = Set1.symmetric_difference(Set2)
    return new_set

# Calling Function
difference_set({1, 2, 3, 4, 5, 10, 11, 12, 13, 14}, {5, 6, 8, 9, 10, 11, 12, 13, 14, 15})

{1, 2, 3, 4, 6, 8, 9, 15}

In [72]:
### 7. How can you convert a list with duplicates into a set?
# Solution 1: Using Set()
Lst1  = [9,2,2,4,6,4,1,8,9,3,9,9,9]
# use set() in-built function of set
set_Lst1 = set(Lst1)
print(set_Lst1)

{1, 2, 3, 4, 6, 8, 9}

In [76]:
# Solution 2: Using Iteration
Lst1  = [9,2,2,4,6,4,1,8,9,3,9,9,9]
set_Lst = set()
for i in Lst1:
        set_Lst.add(i)

print(set_Lst)

{1, 2, 3, 4, 6, 8, 9}

In [75]:
# Solution 3: Using Function
def list_to_set(Lst1):
    set_Lst = set(Lst1)
    return set_Lst

# Calling Function
list_to_set([9,2,2,4,6,4,1,8,9,3,9,9,9])

{1, 2, 3, 4, 6, 8, 9}

In [78]:
### 8. Write a program to check if one set is a subset of another.
# Solution1: Using issubset()
setA = {1, 2, 3, 4, 5}
setB = {1, 2, 3}
subset = setB.issubset(setA)
print(subset)

True

In [83]:
# Solution 2: Using intersection()
setA = {1, 2, 3, 4, 5}
setB = {1, 2, 3}
intersection_set = setA.intersection(setB)
if intersection_set == setB:
    print('Yes, one set is subset of another set.')
else:
    print('No, one set is no subset of another set.')

Yes, one set is subset of another set.

In [88]:
# Solution 3: Using Iteration
setA = {1, 2, 3, 4, 5}
setB = {1, 2, 3}
new_set = set()
for item in setA:
    if item in setB:
        new_set.add(item)
print(new_set)
if new_set == setB:
    print('Yes, one set is subset of another set.')
else:
    print('No, one set is no subset of another set.')

{1, 2, 3}
Yes, one set is subset of another set.

In [92]:
# Solution 4: Using Function
def subset(setA, setB):
    new_set = setB.issubset(setA)
    return(new_set)

# Calling Function
subset({1, 2, 3, 4, 5}, {1, 2, 3})

True

In [93]:
### 9. Write a Python program to find the symmetric difference of two sets.
# Solution 1: Using symmetric_difference()
setA = {1, 2, 3, 4, 5}
setB = {1, 2, 3}
new_Set = setA.symmetric_difference(setB)
print(new_Set)

{4, 5}

In [94]:
# Solution 3: Using Function:
def symmetric_difference_set(setA, setB):
    new_Set = setA.symmetric_difference(setB)
    return new_Set

# Calling Function
symmetric_difference_set({1, 2, 3, 4, 5}, {1, 2, 3})

{4, 5}

In [101]:
### 10. How would you create a set from a string and print the unique characters?
# Solution 1: Convert string to set
input_string = "hello world"
# Convert string into set
list_string = set(input_string)
print(list_string)

{'h', 'o', 'e', 'r', 'd', ' ', 'l', 'w'}

In [109]:
# Solution 1: Convert string to list
input_string = "hello world"
# Convert string into list
list_string = list(input_string)
print(set_string)

{'h', 'o', 'e', 'r', 'd', ' ', 'l', 'w'}

In [114]:
# Solution 3: Using Iteration
input_string = "hello world"
char_set = set()
for char in input_string:
    if char not in char_set:
        char_set.add(char)
print(char_set)

{'h', 'o', 'e', 'r', 'd', ' ', 'l', 'w'}

In [120]:
# Solution 4: Using Function
def unique_char(input_string):
    char_set = set()
    for char in input_string:
        if char not in char_set:
            char_set.add(char)
    return print(char_set)

# Calling function
unique_char('I am the Best Python Developer')

{'h', 'o', 'a', 'l', 'e', 'r', 'D', 'P', 'm', 't', 'p', 'B', 's', 'I', 'y', ' ', 'v', 'n'}