In [3]:
### 1. Write a Python function to find all the common elements in three sets.
# Solution 1: Using intersection()
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}
s3 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
# intersection of s1, s2
set1 = s1.intersection(s2)
# intersection of set1 & s3. So we will get the all the common element in three set
finalSet = set1. intersection(s3)
print(finalSet)

{4, 5, 6}

In [4]:
# Solution 2: Using &
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}
s3 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
finalSet = s1 & s2 & s3
print(finalSet)

{4, 5, 6}

In [9]:
# Solution 3: Using Iteration
s1 = {1, 2, 3, 4, 5, 6, 12}
s2 = {4, 5, 6, 7, 8, 9, 12}
s3 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
# store common element of s1 and s2
set1 = set()
# store all common element of three set
finalSet = set()

# Add common element of s1 and s2
for element in s1:
    if element in s2:
        set1.add(element)

# Add common element of set1 and s3
for element in set1:
    if element in s3:
        finalSet.add(element)
print(finalSet)

{5, 12, 4, 6}

In [14]:
# Solution 4: Using Function
def common_element(s1, s2, s3):
    # store common element of s1 and s2
    set1 = set()
    # store all common element of three set
    finalSet = set()
    
    # Add common element of s1 and s2
    for element in s1:
        if element in s2:
            set1.add(element)
    
    # Add common element of set1 and s3
    for element in set1:
        if element in s3:
            finalSet.add(element)
    return finalSet

# Calling Function
common_element({1, 2, 3, 4, 5, 6, 'abc'}, {4, 5, 6, 7, 'abc', 9, 12}, {1, 2, 3, 4, 5, 6, 7, 8, 9, 'abc', 11, 12})

{4, 5, 6, 'abc'}

In [19]:
### 2. How would you check if two sets are disjoint (i.e., they have no elements in common)?
# Solution 1: Using Intersection
s1 = {1, 2, 3, 4, 5, 6}
s2 = {7, 8, 9}

# Common element in s1 & s2
set1 = s1.intersection(s2)
if len(set1) == 0:
    print('they have no elements in common')
else:
    print(f"{set1} elements is common")

they have no elements in common

In [22]:
# Solution 2: Using &
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

# Common element in s1 & s2
set1 = s1 & s2
if len(set1) == 0:
    print('they have no elements in common')
else:
    print(f"{set1} elements is common")

{4, 5, 6} elements is common

In [27]:
# Solution 2: Using Iteration
s1 = {1, 2, 3, 4, 5, 6}
s2 = {7, 8, 9, 10, 11, 12}
set1 = set()

for element in s1:
    if element in s2:
        set1.add(element)

if len(set1) == 0:
    print('they have no elements in common')
else:
    print(f"{set1} elements is common")

set()
they have no elements in common

In [34]:
# Solution 4: Using Function
def no_common_element(s1, s2):
    set1 = set()

    for element in s1:
        if element in s2:
            set1.add(element)
    
    if len(set1) == 0:
        print('they have no elements in common')
    else:
        print(f"{set1} elements is common")
    
    return set1

# Calling Function
no_common_element({1, 2, 3, 4, 5, 6}, {6, 7, 8, 9, 10, 11, 12})

{6} elements is common

{6}

In [51]:
### 3. Write a program to find the largest and smallest elements in a set of integers.
# Solution1 : Convert sorted
int_set = {15, 3, 88, 24, 42, 7, 60, 10}

# Convert the set to a sorted list
sorted_list = sorted(int_set)

# The smallest element will be the first, and the largest will be the last
smallest = sorted_list[0]
largest = sorted_list[-1]

# Print the results
print("The largest element is:", largest)
print("The smallest element is:", smallest)

The largest element is: 88
The smallest element is: 3

In [49]:
# Solution 2: Using Iteration
s1 = {10, 20, 30, 40, 50, 100, 90, 80, 70, 60}
large = next(iter(int_set))
small = next(iter(int_set))

# Iterate through the list
for element in s1:
    if element > large:
        large = element
    if element < small:
        small = element
        
# Print results
print('Largest Number:', large)
print('Smallest Number:', small)

Largest Number: 100
Smallest Number: 3

In [50]:
# Sokution 3: Using Function 
def largest_smallest_number(s1):
    large = next(iter(int_set))
    small = next(iter(int_set))
    
    # Iterate through the list
    for element in s1:
        if element > large:
            large = element
        if element < small:
            small = element
            
    # Print results
    print('Largest Number:', large)
    print('Smallest Number:', small)

# Calling Function
largest_smallest_number({10, 20, 30, 40, 50, 100, 90, 80, 70, 60})

Largest Number: 100
Smallest Number: 3

In [47]:
# Solution 4: Using max() and min()
# Define the set of integers
int_set = {15, 3, 88, 24, 42, 7, 60, 10}

# Find the largest and smallest elements
largest = max(int_set)
smallest = min(int_set)

# Print the results
print("The largest element is:", largest)
print("The smallest element is:", smallest)

The largest element is: 88
The smallest element is: 3

In [52]:
### 4. How can you iterate over a set and print each element?
# Solution 1:  Using Iterate
set1 = {15, 3, 88, 'a', 'b', 'c', 42, 7, 60, 10}
for element in set1:
    print(element)

3
7
10
42
15
a
c
b
88
60

In [53]:
# Solution 2: Using list comprehension and join()
set1 = {15, 3, 88, 'a', 'b', 'c', 42, 7, 60, 10}
print('\n'.join([str(element) for element in set1]))

3
7
10
42
15
a
c
b
88
60

In [55]:
# Using Function
def iterate_set(s1):
    print('\n'.join([str(element) for element in set1]))

# Calling Function
iterate_set({15, 3, 88, 'a', 'b', 'c', 42, 7, 60, 10})

3
7
10
42
15
a
c
b
88
60

In [59]:
### 5. Write a Python program to create a frozenset and explain its use.
# Solution 1: Using frozenset()
normal_set = {'apple', 'banana', 'cherry'}

# Create a frozenset from the regular set
frozen_set = frozenset(normal_set)

# Print the frozenset
print("Frozenset:", frozen_set)

# Trying to add or remove elements (will cause an error)
#frozen_set.add('orange')
#frozen_set.remove('apple')

Frozenset: frozenset({'apple', 'cherry', 'banana'})

In [65]:
### 6. Write a function to count the number of unique elements in a list using sets.
list1 = [1, 2, 4, 5, 2, 3, 4, 5, 5, 3, 2, 4, 2, 1, 1, 32, 3, 2, 42, 32 ,42, 4 ]
# Convert into set
set_list1 = set(list1)
print(set_list1)
# Count unique element
count = len(set_list1)
print(count)

{32, 1, 2, 3, 4, 5, 42}
7

In [68]:
# Solution 2: Using Dictionary
list1 = [1, 2, 4, 5, 2, 3, 4, 5, 5, 3, 2, 4, 2, 1, 1, 32, 3, 2, 42, 32 ,42, 4 ]
element_count = {}
for item in list1:
    if item not in element_count:
        element_count[item] = 1
    else:
        element_count[item] += 1
    # The number of unique elements is the number of keys in the dictionary
print(len(element_count))

7

In [70]:
# Solution 3: Using List Comprehension
list1 = [1, 2, 4, 5, 2, 3, 4, 5, 5, 3, 2, 4, 2, 1, 1, 32, 3, 2, 42, 32 ,42, 4 ]
unique_elements = {item for item in list1}
print(len(unique_elements))

7

In [77]:
# Solution 4: Using Function
def count_unique_elements(list1):
    # Convert the list to a set to get unique elements
    unique_set = set(list1)
    # Count the number of unique elements
    count = len(unique_set)
    return count

# Calling Function
count_unique_elements([1, 2, 4, 5, 2, 3, 4, 5, 5, 3, 2, 4, 2, 1, 1, 32, 3, 2, 42, 32 ,42, 4 ])
print(f"The number of unique elements is: {count}")

The number of unique elements is: 7

In [90]:
### 7. How would you merge multiple sets into one?
# Solution 1: Using union()
s1 = {1, 2, 4, 5, 2, 3, 4}
s2 = {'apple', 'banana', 'cherry'}
s3 = {'a', 'b', 'c', 'd'}

# Merge all sets in one go
finalSet = s1.union(s2, s3)
print(finalSet)

{1, 2, 3, 4, 5, 'cherry', 'banana', 'c', 'a', 'b', 'apple', 'd'}

In [91]:
# Solution 2: Using Iteration
s1 = {1, 2, 4, 5, 2, 3, 4}
s2 = {'apple', 'banana', 'cherry'}
s3 = {'a', 'b', 'c', 'd'}

# Create an empty set to hold the merged result
merged_set = set()

# Add elements from each set to the merged_set using iteration
for s in (s1, s2, s3):
    for element in s:
        merged_set.add(element)

print(merged_set)

{1, 2, 3, 4, 5, 'cherry', 'banana', 'c', 'a', 'b', 'apple', 'd'}

In [94]:
# Solution 3: Using Update
s1 = {1, 2, 4, 5, 2, 3, 4}
s2 = {'apple', 'banana', 'cherry'}
s3 = {'a', 'b', 'c', 'd'}

# Create an empty set to hold the merged result
merged_set = set()

# Update the merged_set with each set
merged_set.update(s1)
merged_set.update(s2)
merged_set.update(s3)

print(merged_set)

{1, 2, 3, 4, 5, 'cherry', 'banana', 'c', 'a', 'b', 'apple', 'd'}

In [93]:
# Solution 4: Using function
def merge_set(s1, s2, s3):
    finalSet = s1.union(s2, s3)
    return finalSet

# Calling Function
merge_set({1, 2, 4, 5, 2, 3, 4}, {'apple', 'banana', 'cherry'}, {'a', 'b', 'c', 'd'})

{1, 2, 3, 4, 5, 'a', 'apple', 'b', 'banana', 'c', 'cherry', 'd'}

In [100]:
### 8. Write a Python program to find the number of elements in a set that are also present in a list.
# Solution 1: Using intersection()
set1 = {1, 2, 4, 5, 2, 3, 4}
list1 = [1, 2, 3, 4, 6, 7, 8]
# Convert list into set
set_list1 = set(list1)
# intersection() of set1 and set_list1
unique_element =  set1.intersection(set_list1)
print(unique_element)
# count unique element
print(len(unique_element))

{1, 2, 3, 4}
4

In [101]:
# Solution 2: Using iteration
set1 = {1, 2, 4, 5, 2, 3, 4}
list1 = [1, 2, 3, 4, 6, 7, 8]

count = 0
for element in set1:
    if element in list1:
        count += 1

print(count)

4

In [102]:
# Solution 3: Using Set Operations Directly
set1 = {1, 2, 4, 5, 2, 3, 4}
list1 = [1, 2, 3, 4, 6, 7, 8]

# Directly find the intersection and count
common_elements = set1 & set(list1)
print(common_elements) 
print(len(common_elements))

{1, 2, 3, 4}
4

In [103]:
# Solution 4: Using Function
def common_elements(set1, list1):
    count = 0
    for element in set1:
        if element in list1:
            count += 1
    return count

# Calling Function 
common_elements({1, 2, 4, 5, 2, 3, 4}, [1, 2, 3, 4, 6, 7, 8])

4

In [104]:
### 9. Write a program to create a set of tuples and print each tuple.
# Create a set of tuples
tuple_set = {
    (1, 'apple'),
    (2, 'banana'),
    (3, 'cherry'),
    (4, 'date'),
    (5, 'elderberry')
}

# Print each tuple in the set
for tup in tuple_set:
    print(tup)

(5, 'elderberry')
(1, 'apple')
(2, 'banana')
(3, 'cherry')
(4, 'date')

In [115]:
### 10. How can you create a set of squares of numbers from a list?
# Solution 1: Using math solution
numbers = [1, 2, 3, 4, 5]
for x in numbers:
    square = x**2
    print(square)

1
4
9
16
25

In [106]:
# Solution 2: Using Set Comprehension
numbers = [1, 2, 3, 4, 5]
squares_set = {x ** 2 for x in numbers}
print(squares_set)

{1, 4, 9, 16, 25}

In [117]:
# Solution 3: Using Iteration
numbers = [1, 2, 3, 4, 5]
# Create an empty set
squares_set = set() 

# Iterate over each number in the list
for num in numbers:  
    squares_set.add(num ** 2) 

print(squares_set)

{1, 4, 9, 16, 25}

In [118]:
# Solution 4: Using Function
def square_element(numbers):
    squares_set = {x ** 2 for x in numbers}
    return squares_set

# Calling Function
square_element([1, 2, 3, 4, 5])

{1, 4, 9, 16, 25}